bF
desktop.ini
.idea/desktop.ini
.idea/misc.xml
.idea/artifacts/desktop.ini
.idea/libraries/desktop.ini
MCUside/desktop.ini
MCUside/.settings/desktop.ini
MCUside/FLASH/desktop.ini
MCUside/FLASH/Project_Settings/desktop.ini
MCUside/FLASH/Project_Settings/Startup_Code/desktop.ini
MCUside/FLASH/Sources/desktop.ini
MCUside/FLASH/Sources/main.c - three substitute options/desktop.ini
MCUside/Project_Headers/desktop.ini
MCUside/Project_Settings/desktop.ini
MCUside/Project_Settings/Debugger/desktop.ini
MCUside/Project_Settings/Linker_Files/desktop.ini
MCUside/Project_Settings/Startup_Code/desktop.ini
MCUside/Sources/desktop.ini
PCside/desktop.ini
PCside/TerminalProject/desktop.ini
PCside/TerminalProject/TerminalProject.iml
PCside/TerminalProject/.idea/desktop.ini
PCside/TerminalProject/.idea/inspectionProfiles/desktop.ini
PCside/TerminalProject/.idea/libraries/desktop.ini
PCside/TerminalProject/src/desktop.ini
PCside/TerminalProject/src/main/desktop.ini
PCside/TerminalProject/src/main/Images/desktop.ini
PCside/TerminalProject/src/main/java/desktop.ini
PCside/TerminalProject/src/main/java/META-INF/desktop.ini
PCside/TerminalProject/src/main/MCU2PC/desktop.ini
.idea/desktop.ini
.idea/misc.xml
.idea/artifacts/desktop.ini
.idea/libraries/desktop.ini
MCUside/desktop.ini
MCUside/.settings/desktop.ini
MCUside/FLASH/desktop.ini
MCUside/FLASH/Project_Settings/desktop.ini
MCUside/FLASH/Project_Settings/Startup_Code/desktop.ini
MCUside/FLASH/Sources/desktop.ini
MCUside/FLASH/Sources/main.c - three substitute options/desktop.ini
MCUside/Project_Headers/desktop.ini
MCUside/Project_Settings/desktop.ini
MCUside/Project_Settings/Debugger/desktop.ini
MCUside/Project_Settings/Linker_Files/desktop.ini
MCUside/Project_Settings/Startup_Code/desktop.ini
MCUside/Sources/desktop.ini
PCside/TerminalProject/TerminalProject.iml
PCside/TerminalProject/.idea/desktop.ini
PCside/TerminalProject/.idea/libraries/desktop.ini
PCside/TerminalProject/src/main/java/META-INF/desktop.ini
PCside/TerminalProject/target/desktop.ini
PCside/TerminalProject/target/classes/Terminal.class
PCside/TerminalProject/target/classes/Terminal$1.class
PCside/TerminalProject/target/classes/Terminal$2.class
PCside/TerminalProject/target/classes/Terminal$State.class
PCside/TerminalProject/target/classes/TerminalGUI.class
PCside/TerminalProject/target/classes/TerminalGUI$1.class
PCside/TerminalProject/target/classes/TerminalGUI$2.class
PCside/TerminalProject/target/classes/TerminalGUI$3.class
PCside/TerminalProject/target/classes/TerminalGUI$4.class
PCside/TerminalProject/target/classes/TerminalGUI$5.class
PCside/TerminalProject/target/classes/TerminalGUI$6.class
PCside/TerminalProject/target/classes/TerminalGUI$7.class
PCside/TerminalProject/target/classes/TerminalGUI$8.class
PCside/TerminalProject/target/classes/TerminalGUI$9.class
PCside/TerminalProject/target/classes/TerminalGUI$10.class
PCside/TerminalProject/target/classes/TerminalGUI$11.class
PCside/TerminalProject/target/classes/TerminalGUI$12.class
PCside/TerminalProject/target/classes/TerminalGUI$13.class
PCside/TerminalProject/target/classes/TerminalGUI$14.class
PCside/TerminalProject/target/generated-sources/desktop.ini
